mixin about-team(data, mods)
	section.about-team&attributes(attributes)
		.about-team__container.container
			.about-team__main-title Команда
			.about-team__wrap.js-about-team-wrap
				each item in $aboutTeamList
					.about-team__item
						.about-team__img-box
							img.about-team__img(src=item.img,  title=item.alt alt=item.alt)
						.about-team__title !{item.title}
						.about-team__desc #{item.desc}
