mixin card-info-tabs(data, mods)
	.card-info-tabs.js--card-info-tabs&attributes(attributes)
		.card-info-tabs__wrap
			.card-info-tabs__nav
				ul.card-info-tabs__nav-list(data-tabs-nav-list)
					each item, index in $otherProductsList
						li.card-info-tabs__nav-item.js--card-info-tabs-nav-item(class={"active": (index == 2)} data-tabs-nav-item)
							a(href=`#${item.ID}` data-tabs-toggle).card-info-tabs__nav-link!= item.COMBINATION_NAME
							if(item.SAVING)
								.card-info-tabs__saving
									span.card-info-tabs__saving-text
										|	Экономия
										br
										|	до
									span.card-info-tabs__saving-number 25%
			.card-info-tabs__inner-wrap
				each itemTab, indexTab in $otherProductsList
					if(indexTab < 2)
						.card-info-tabs__tab(id=itemTab.ID  data-tabs-tab)
							.card-info-tabs__top
								.card-info-tabs__title #{itemTab.NAME}
								a.card-info-tabs__choice-other(href="#") Выбрать другой комплект
							.card-info-tabs__desc #{itemTab.DESC}
							.card-info-tabs__img-wrap
								each imgItem in itemTab.IMGS
									.card-info-tabs__img-box
										img.card-info-tabs__img(src=imgItem.src, alt=imgItem.alt)
							.card-info-tabs__combination !{itemTab.COMBINATION}
							.card-info-tabs__price
								.card-info-tabs__price-new #{itemTab.BASE_PRICE}
								.card-info-tabs__price-old #{itemTab.OLD_PRICE}
							.card-info-tabs__profit
								span.card-info-tabs__profit-text Выгода
								span.card-info-tabs__profit-number #{itemTab.PROFIT}